<div class="media" style="{style}">
    
  <div class="media-left">
    <a href="{info-url}"><img src="/{icon}" class="icon" style="width: 64px; height: 64px;"></a>
  </div>
  
  <div class="media-body">
    <h4 class="media-heading"><a href="{info-url}">{name}</a> <span class="label label-default">{version}</span> {feature-name}</h4>
    <p>{size} - {devices}<br />Updated <span class="resolveReleasedDate">{updated}</span></p>
  </div>
  <div class="media-right media-middle">
      <a href="{url}" class="btn btn-primary">Install</a>
  </div>
  
</div>